@font-face 
{
	font-family: "Ma Super Fonte";
    src: url('nasalization-rg.ttf');
    font-weight: bold;
}

h1
{
    font-family: "Ma Super Fonte", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #27d1ff;
    text-align: center;
}

body
{
    font-family: "Ma Super Fonte", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background-color: #f2f2f2;
    text-align: center;
    background-size: 810px;
    background-image: url("texture-header.jpg");
    height: 180px;
}

nav
{
display: inline-block;
color: white;
background-color: #2e2f30;
margin-right: 50px;
margin-bottom: 0px;
text-align: left;
vertical-align: text-top;
}

li:hover { 
            color: #17c1ff;
         }

mark
{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

h2
{
text-transform: capitalize;
text-shadow: 0.1em 0.1em 0.05em #333 ;
}

